* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.conversion {
    position: relative;
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 130px auto;
    text-align: center;
    color: white;
}

.conversion h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.input input, .input select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input input:focus, .input select:focus {
    border: #77edff;
}

.from, .to {
    display: flex;
    justify-content: space-between;
}

.from .input, .to .input {
    width: 48%;
}

.rate .input {
    margin-top: 20px;
}

input[readonly], input[disabled] {
    background: #f0f0f0;
    cursor: not-allowed;
}
